{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ma premiere page!{% endblock %}

{% block body %}

    <h1> {{ nom }} ✅</h1>

   <p><img src="{{ asset('images/boucle oreille1.jpg')}}" alt="image"></p>
{% endblock %}
